
body,
html {
    margin: 0;
    padding: 0;
}

body {
   font-size: 15px;
    font-family: "Roboto", "Helvetica", "Arial", sans-serif;
    color: #566b78;
}

h2 {
   text-align: center;
}


.container {
    padding-top: 50px;
}


a 
{
   float: right;
   padding-right: 20px;
}

p {
   padding: 10px 0 0 20px;
}

.rezerwacja{
   float: left;
}

.powrot_do_formularza{
    float: left;
}

.message {
   text-align: center;
   color: red;
}

.message-error {
   width: 100%;
    padding-top: 20px;
   text-align: center;
   color: red;
}